include ../elements/meta
include ../elements/scripts
include ../elements/navigation

doctype html
html(lang='ru')
    head
        +meta
    body
        +navigation

        .container
            .row.justify-content-center
                .col-10.text-center
                    textarea.form-control(rows='3' placeholder='Ваша информация о себе')=description
                    button.btn.btn-primary.mt-3.mr-3(type='button') Сохранить
                    a.btn.btn-primary.mt-3(href='profile') Отменить

        +scripts