include ../elements/meta
include ../elements/scripts
include ../elements/navigation

doctype html
html(lang='ru')
    head
        +meta
    body
        +navigation

        .container.mb-5
            .row.justify-content-center
                .col-10.text-center
                    h5 Скоро...
        +scripts