include ../elements/meta
include ../elements/scripts
include ../elements/navigation

doctype html
html(lang='ru')
    head
        +meta
    body
        +navigation

        .container
            .row
                .col-12
                    form(action='search' method='POST')
                        .input-group.mb-5
                            input.form-control(
                                type='text'
                                placeholder='Поиск по профилям'
                                aria-label='Поиск по профилям'
                                aria-describedby='Поиск по профилям'
                            )
                            .input-group-append
                                button.btn.btn-primary(name='search' type='search') Найти

        .container.d-none
            .row
                .col-3
                    img.card.card-img.mb-1(src='https://specials-images.forbesimg.com/imageserve/5b8576db31358e0429c734e3/416x416.jpg?background=000000&cropX1=211&cropX2=2381&cropY1=900&cropY2=3072' style='max-width: 64px; max-height: 64px; display: inline-block;')
                .col-6
                    h5 Steve Jobs
                    p.mb-3 @steveJobs
                .col-3.text-right.align-self-center
                    button.btn.btn-primary(type='button') >>

            .row
                .col-3
                    img.card.card-img.mb-1(src='https://specials-images.forbesimg.com/imageserve/5b8576db31358e0429c734e3/416x416.jpg?background=000000&cropX1=211&cropX2=2381&cropY1=900&cropY2=3072' style='max-width: 64px; max-height: 64px; display: inline-block;')
                .col-6
                    h5 Steve Jobs
                    p.mb-3 @steveJobs
                .col-3.text-right.align-self-center
                    button.btn.btn-primary(type='button') >>

            .row
                .col-3
                    img.card.card-img.mb-1(src='https://specials-images.forbesimg.com/imageserve/5b8576db31358e0429c734e3/416x416.jpg?background=000000&cropX1=211&cropX2=2381&cropY1=900&cropY2=3072' style='max-width: 64px; max-height: 64px; display: inline-block;')
                .col-6
                    h5 Steve Jobs
                    p.mb-3 @steveJobs
                .col-3.text-right.align-self-center
                    button.btn.btn-primary(type='button') >>

            .row
                .col-3
                    img.card.card-img.mb-1(src='https://specials-images.forbesimg.com/imageserve/5b8576db31358e0429c734e3/416x416.jpg?background=000000&cropX1=211&cropX2=2381&cropY1=900&cropY2=3072' style='max-width: 64px; max-height: 64px; display: inline-block;')
                .col-6
                    h5 Steve Jobs
                    p.mb-3 @steveJobs
                .col-3.text-right.align-self-center
                    button.btn.btn-primary(type='button') >>

            .row
                .col-3
                    img.card.card-img.mb-1(src='https://specials-images.forbesimg.com/imageserve/5b8576db31358e0429c734e3/416x416.jpg?background=000000&cropX1=211&cropX2=2381&cropY1=900&cropY2=3072' style='max-width: 64px; max-height: 64px; display: inline-block;')
                .col-6
                    h5 Steve Jobs
                    p.mb-3 @steveJobs
                .col-3.text-right.align-self-center
                    button.btn.btn-primary(type='button') >>

            .row
                .col-3
                    img.card.card-img.mb-1(src='https://specials-images.forbesimg.com/imageserve/5b8576db31358e0429c734e3/416x416.jpg?background=000000&cropX1=211&cropX2=2381&cropY1=900&cropY2=3072' style='max-width: 64px; max-height: 64px; display: inline-block;')
                .col-6
                    h5 Steve Jobs
                    p.mb-3 @steveJobs
                .col-3.text-right.align-self-center
                    button.btn.btn-primary(type='button') >>

            .row
                .col-3
                    img.card.card-img.mb-1(src='https://specials-images.forbesimg.com/imageserve/5b8576db31358e0429c734e3/416x416.jpg?background=000000&cropX1=211&cropX2=2381&cropY1=900&cropY2=3072' style='max-width: 64px; max-height: 64px; display: inline-block;')
                .col-6
                    h5 Steve Jobs
                    p.mb-3 @steveJobs
                .col-3.text-right.align-self-center
                    button.btn.btn-primary(type='button') >>

            .row
                .col-3
                    img.card.card-img.mb-1(src='https://specials-images.forbesimg.com/imageserve/5b8576db31358e0429c734e3/416x416.jpg?background=000000&cropX1=211&cropX2=2381&cropY1=900&cropY2=3072' style='max-width: 64px; max-height: 64px; display: inline-block;')
                .col-6
                    h5 Steve Jobs
                    p.mb-3 @steveJobs
                .col-3.text-right.align-self-center
                    button.btn.btn-primary(type='button') >>

            .row.mb-5.mt-5
                .col-12.text-center
                    button.btn.btn-primary(type='button') Найти ещё

        +scripts