include ../elements/meta
include ../elements/scripts
include ../elements/navigation

doctype html
html(lang='ru')
    head
        +meta
    body
        +navigation

        .container
            .row.justify-content-center
                .col-10.text-center
                    h4.mb-5 Похоже вас не пригласили :(
                    p Для того чтобы попасть внутрь вам нужно получить
                        strong  2 приглашения
                        |  от нынешних пользователей приложения.

        +scripts