mixin navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top(style='margin-bottom: 40px')
        a.navbar-brand(href='#') FZ World
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Открыть меню')
            span.navbar-toggler-icon
        if user
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href!='profile?token=' + user.token) Профиль
                    li.nav-item
                        a.nav-link(href!='events?token=' + user.token) Ближайшие события
                    li.nav-item
                        a.nav-link(href!='chats?token=' + user.token) Список чатов
                    li.nav-item
                        a.nav-link(href!='reverse?token=' + user.token) Знакомство наоборот
                    li.nav-item
                        a.nav-link(href!='search?token=' + user.token) Поиск людей
                    li.nav-item
                        a.nav-link(href!='join?token=' + user.token) Пригласить в приложение
                    li.nav-item
                        a.nav-link(href!='about?token=' + user.token) О приложении