mixin navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.sticky-top(style='margin-bottom: 40px')
        a.navbar-brand(href='#') Мир друзей
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Открыть меню')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='profile') Профиль
                li.nav-item
                    a.nav-link(href='search') Поиск
                li.nav-item
                    a.nav-link(href='chats') Список чатов
                li.nav-item
                    a.nav-link(href='reverse') Знакомство наоборот
                li.nav-item
                    a.nav-link(href='join') Пригласить в приложение
                li.nav-item
                    a.nav-link(href='about') О приложении    